@using Carfel.CheckPoint.Web.Models;

    @{
        Layout= "MasterPageAdimin";
    }


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cadastro de usuario</title>

    <link rel="stylesheet" href="/Style/Aprovar.css">
    
</head>

<body>
    <main class="flex-container">

        <div id="bloco_1">

        <h1>Gerenciamento de comentario</h1>

        <div class="avaliacao">

                <!-- seleção de tipo de comentario -->
                <!-- <form action="/Usuario/TipoEscolha" method="POST">
                    <select name="status"  class="ecl_tipo">
                        <option name="status" value="espera">Em espera</option>

                        <option name="status" value="aprovado">Aprovados</option>

                        <option name="status" value="rejeitado">Rejeitados</option>
                    </select>

                    <button type="submit">Aplicar</button>
                </form> -->

                <!-- inicio do bloco do comentario -->
                @{
                    int cont = 0;
                }

                @foreach(ComentarioModel item in @ViewData["Comentarios"] as List<ComentarioModel>)
                {

                    @if(item.Status == "espera") // @TempData["StatusComentario"].ToString()
                    {
                        <div id="bloco_comentario">

                            <div class="bloco_conteudo">
                                <p class="comentario_nome">@item.Nome</p>
                                <p>@item.Horario</p>
                                <p class="comentado">@item.Texto</p>
                            </div>

                            <div class="escolha">
                                <form action="/Usuario/Aprovar" method="POST">
                                    <input type="hidden" name="id" value="@item.Id">
                                    <button id="btn_escolha" class="btn_escolha_aprova" type="submit" name="choice" value="aprovar">Aprovar</button>
                                    <button id="btn_escolha" class="btn_escolha_rejeita" type="submit" name="choice" value="rejeitar">Rejeitar</button>
                                </form>
                            </div>
                        </div>
                    
                        {
                            cont++;
                        }
                    }
                }

                @if(cont == 0){
                    <p>Nenhum comentario com este status</p>
                }
                

                <!-- final do bloco do comentario -->

        </div>

        </div>

    </main>

</body>
</html>